<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/main.css" />
		<title>main.handlebars</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li>
						{{#if user}}
							<a href="/usersTable">Users Table</a>
							<li>
								<p class="light-color">Welcome -
									<a href="/userAccount">{{user.username}} - </a>
									<a href="/logout">Logout</a>
								</p>
							</li>
						{{else}}
							<a href="/login">Login</a>
						{{/if}}
					</li>
				</ul>
			</nav>
		</header>
		<main>
			{{{body}}}
		</main>

		<footer>

			<figure>
				<img src="/img/profile-img.jpg" alt="profile image" />
			</figure>

			<article>
				<h3>External Links</h3>
				<ul>
					<li><a href="https://github.com/">Github</a></li>
					<li><a href="https://www.deviantart.com/">DeviantArt</a></li>
					<li><a href="https://www.instagram.com/?hl=sv">Instagram</a></li>
				</ul>
			</article>

			<article>
				<h3>Contact Information</h3>
				<ul>
					<li>
						E-mail:
						<a href="mailto:"> jaha23fz@student.ju.se</a>
					</li>
					<li>
						Phone:
						<a href="tel:+">
							+46 70-707 07 07
						</a>
					</li>
				</ul>
			</article>

		</footer>
	</body>
</html>