<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/main.css" />
		<title>main.handlebars</title>
	</head>
	<body>
		<header class="main-navigation-header">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
			</nav>
		</header>
		{{{body}}}

		<footer class="main-footer">
			<figure id="cv-img">
				<img src="/img/profile-img.jpg" alt="profile image" />
			</figure>

			<section class="footer-text">
				<section class="main-footer-links links">
					<h3>External Links</h3>
					<ul>
						<li><a href="#">Github</a></li>
						<li><a href="#">DeviantArt</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>
				</section>

				<section class="contact-info contact-list">
					<h3>Contact Information</h3>
					<ul class="info-content">
						<li>
							E-mail:
							<a href="mailto:"> jaha23fz@student.ju.se</a>
						</li>
						<li>
							Phone:
							<a href="tel:+">
								+46 70-707 07 07
							</a>
						</li>
					</ul>
				</section>
			</section>
		</footer>
	</body>
</html>