<section class="text-container-light projects-container">
		{{! choose-project }}
	<section class="showcase-container">
		<ul>
			<li><a href="/projects">Artworks</a></li>
			<li><a href="/codeprojects">Code Projects</a></li>
		</ul>
	
	<h1>Artworks</h1>

	<article>
		{{#each artworks}}
			<figure>
				<a href="/artworks/{{aid}}">
					<img src="{{aurl}}" alt="{{alturl}}" />
				</a>
			</figure>
		{{/each}}
	</article>

</section>