<section class="text-container-light codeprojects-container">
	<section class="choose-container">
		<ul>
			<li><a href="/artworks">Artworks</a></li>
			<li><a href="/codeprojects">Code Projects</a></li>
		</ul>
	</section>

	<h1>Code projects</h1>

	<article>
		<ul>
			{{#each codeProjects}}
				<li>
					<a href="/codeprojects/{{cid}}">
						{{cname}}
						{{ctype}}
						{{cyear}}
					</a>
				</li>
			{{/each}}
		</ul>
	</article>
</section>