<section class="contact-container">
	<aside class="text-container-light">
		<ul>
			<li>
				E-mail:
				<a href="mailto:"> jaha23fz@student.ju.se</a>
			</li>
			<li>
				Phone:
				<a href="tel:+">
					+46 70-707 07 07
				</a>
			</li>
			<li>City: Jönköping, Sweden</li>
			<li>
				Education: Jönköping University - School of Engineering
			</li>
		</ul>
	</aside>
	<article class="map-container text-container-dark">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1419.8286338508403!2d14.16243781738851!3d57.77862043320771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465a6dec7b8ae191%3A0x1aaea155dcdca1c6!2sJ%C3%B6nk%C3%B6ping%20School%20of%20Engineering!5e0!3m2!1sen!2sse!4v1727597537575!5m2!1sen!2sse"
			width="100%"
			height="450"
			style="border:0;"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
		></iframe>
	</article>
</section>