<section class="contact-container">
	<aside class="contact-aside-container contact-info container-one">
		<ul class="info-content">
			<ul class="info-content">
				<li>
					E-mail:
					<a href="mailto:"> jaha23fz@student.ju.se</a>
				</li>
				<li>
					Phone:
					<a href="tel:+">
						+46 70-707 07 07
					</a>
				</li>
				<li>City: Jönköping, Sweden</li>
				<li>
					Education: Jönköping University - School of Engineering
				</li>
			</ul>
		</ul>
	</aside>
	<section class="map-container container-two"></section>
</section>