<section class="home-page-container">
	<h1>Hannah Jansson</h1>
	<p>
		I'm currently a student at JU University, School of Engineering... Lorem
		ipsum dolor sit, amet consectetur adipisicing elit. Sequi, et? Architecto
		voluptatibus eveniet dolor maxime, ea, illum quaerat fugiat, distinctio et
		sunt delectus itaque ducimus magni ab quae laboriosam hic?
	</p>
</section>

<!-- Container where highlighted projects/works are put // Add IMG/preview to the links? -->
<section class="showcase-container">
	<ul>
		<li><a href="#">Project 1</a></li>
		<li><a href="#">Project 2</a></li>
		<li><a href="#">Project 3</a></li>
	</ul>
</section>