<section class="login-form text-container-light">
	<form action="/login" method="post">
		<legend>Sign in to your account</legend>
		<input id="username" type="text" name="username" placeholder="Username" />
		<input
			id="password"
			type="password"
			name="password"
			placeholder="Password"
		/>
		<button type="submit">Login</button>
		<a href="/register">Register</a>
	</form>
</section>