<section class="login-form text-container-light"></section>
	<form action="/register" method="post">
		<legend>Register form</legend>
		<label for="username">Username</label>
		<input id="username" type="text" name="username" placeholder="Username" />
		<label for="password">Password</label>
		<input
			id="password"
			type="password"
			name="password"
			placeholder="Password"
		/>
		<input type="submit" value="Register" />
	</form>
</section>