<section class="login-form text-container-light">
	<form action="/register" method="post">
		<legend>Create account</legend>
		<input id="username" type="text" name="username" placeholder="Username" />
		<input
			id="password"
			type="password"
			name="password"
			placeholder="Password"
		/>
		<button type="submit">Create account</button>
		<a href="/login">Login</a>
	</form>
</section>