<section class="text-container-light users-table">

	<h1>Users table</h1>

	<article>
		<table>
			{{! headers of the table }}
			<tr>
				<th>uid</th>
				<th>Username</th>
			</tr>

			{{#each usersTable}}
				<tr>
					<td>{{uid}}</td>
					<td>{{username}}</td>
				</tr>
			{{/each}}
		</table>
	</article>

</section>