<section class="text-container-light">
	<h1>work for</h1>
	<section>
		<ul>
			{{#each workfor}}
				<li>
					{{for}}
					{{fname}}
					{{fdesc}}
				</li>
			{{/each}}
		</ul>
	</section>
</section>