/* GLOBAL STYLE RULES */
:root {
	background-color: #000000;
	/* CSS Gradient   ------------------------------- 
	https://cssgradient.io/
	*/
	background: #090979;
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 23%,
		rgba(7, 62, 156, 1) 62%,
		rgba(4, 134, 203, 1) 83%,
		rgba(0, 212, 255, 1) 100%
	);
	/*-------------------------------- */
	font-family: sans-serif;
	margin: 0 10%;
	padding: 0;
}

h1 {
	font-size: 2em;
	margin: 0.6em 2% 0 2%;
	padding: 0;
}

h2 {
	font-size: 1.6em;
	margin: 0.6em 2% 0 2%;
	padding: 0;
}

h3 {
	font-size: 1.3em;
	margin: 0.6em 2% 0 2%;
	padding: 0;
}

p {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	font-size: 1.1em;
	list-style: square;
	margin: 1em 6%;
	padding: 0;
}

img {
	max-width: 100%;
}

a {
	color: #ffffff;
	text-decoration: underline;
}

a:link {
	color: #ffffff;
	text-decoration: underline;
}

a:visited {
	color: #ff9d9d;
}

a:hover {
	text-decoration: overline;
}

a:active {
	outline-style: inset;
}
a:focus {
	background: #777777b9;
	outline-style: inset;
}

/* mainContainer OF THE /CV ROUTE */
.main-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 6em auto auto auto auto;
	grid-template-areas:
		"nav-bar nav-bar nav-bar nav-bar"
		"intro-container intro-container intro-container intro-container"
		"showcase-container showcase-container showcase-container showcase-container"
		"skills-container skills-container experience-container experience-container"
		"education-container education-container other-container other-container"
		"main-footer main-footer main-footer main-footer";
}

/* nav-bar STYLE */
.nav-bar {
	grid-area: nav-bar;
	margin: 0;
	background: #7dd6ff7e;
}

.nav-bar ul {
	display: flex;
	justify-content: flex-end;
	height: 6em;
}

.nav-bar ul li {
	list-style: none;
	padding: 2em 0;
}

/* intro-container STYLE */
.intro-container {
	grid-area: intro-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 16%;
	background: #7dd6ff7e;
}

.intro-container h1 {
	font-size: 4em;
	margin: 0.4em 0 0 0;
}

.intro-container p {
	text-align: left;
	margin: 2em 8%;
}

/* showcase-container STYLE */
.showcase-container {
	grid-area: showcase-container;
	margin: 2em 0;
	background: #a34a4a;
}

.showcase-container ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.showcase-container ul li {
	list-style: none;
}
/* skillsContainer STYLE */
.skills-container {
	grid-area: skills-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ff0000;
}

.skills-container ul li {
	text-align: left;
}

/* experience-container STYLE */
.experience-container {
	grid-area: experience-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f8ec7f;
}

/* education-container STYLE */
.education-container {
	grid-area: education-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #c04ff5;
}

/* other-container STYLE */
.other-container {
	grid-area: other-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #966304;
}

/* main-footer STYLE */
.main-footer {
	grid-area: main-footer;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "cv-img footer-text footer-text";
	align-items: center;
	background: #00ff00;
}

.main-footer #cv-img {
	grid-area: cv-img;
}

.main-footer #cv-img img {
	width: 10em;
	height: 10em;
	object-fit: cover;
	border-radius: 50%;
	margin: 2em 10% 2em 2%;
}

.footer-text {
	grid-area: footer-text;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "footer-links contact-info";
}

.footer-links {
	grid-area: footer-links;
}

.contact-info {
	grid-area: contact-info;
	align-items: center;
	width: 100%;
	margin: 0;
}

.contact-info .contact-content ul {
	display: flex;
	/* flex-wrap: nowrap; */
}

.contact-info .contact-content li {
	list-style: none;
	margin: 1em 10% 1em 0;
}
