/* GLOBAL STYLE RULES */
:root {
	background: #141414;
	font-family: sans-serif;
	margin: 0 10%;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

li {
	font-size: 1.1em;
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

/* mainContainer OF THE /CV ROUTE */
.main-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 6em auto auto auto auto;
	grid-template-areas:
		"nav-bar nav-bar nav-bar nav-bar"
		"intro-container intro-container intro-container intro-container"
		"showcase-container showcase-container showcase-container showcase-container"
		"skills-container skills-container experience-container experience-container"
		"education-container education-container other-container other-container"
		"main-footer main-footer main-footer main-footer";
}

/* nav-bar STYLE */
.nav-bar {
	grid-area: nav-bar;
	margin: 0;
	background: #a5a5a5;
	border: solid #0077ff;
}

.nav-bar ul {
	height: 6em;
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
}

.nav-bar ul li {
	padding: 2em;
}

/* intro-container STYLE */
.intro-container {
	grid-area: intro-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 16%;
	background: #4040ff;
}

.intro-container h1 {
	font-size: 6em;
	/* margin: 0.4em 0 0 0; */
}

.intro-container p {
	text-align: left;
	margin: 0.8em 8% 1.08em 8%;
}

/* showcase-container STYLE */
.showcase-container {
	grid-area: showcase-container;
	display: flex;
	flex-direction: row;
	background: #ff9d9d;
}

/* skillsContainer STYLE */
.skills-container {
	grid-area: skills-container;
	display: flex;
	flex-direction: column;
	background: #ff0000;
}

/* experience-container STYLE */
.experience-container {
	grid-area: experience-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f8ec7f;
}

/* education-container STYLE */
.education-container {
	grid-area: education-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #c04ff5;
}

/* other-container STYLE */
.other-container {
	grid-area: other-container;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #966304;
}

/* main-footer STYLE */
.main-footer {
	grid-area: main-footer;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "cv-img footer-text footer-text";
	align-items: center;
	background: #00ff00;
}

.main-footer #cv-img {
	grid-area: cv-img;
	width: 40%;
	height: 40%;
	border-radius: 50%;
	margin: 2em 10% 2em 2%;
}

.footer-text {
	grid-area: footer-text;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "footer-links contact-info";
}

.footer-links {
	grid-area: footer-links;
}

.contact-info {
	grid-area: contact-info;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0;
}

.email {
	display: flex;
}

.email .mail-adress {
	padding: 0 0 0 1%;
}

.phone {
	display: flex;
}

.phone .phone-number {
	padding: 0 0 0 1%;
}
