/* Global styles ------------------------------------*/
* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: var(--color-default-dark);

	/* Website color pallet */
	--background-alternative-main: #073e9c77;
	/* START -------------------------------------
	CSS Gradient 
	https://cssgradient.io/
	 */
	--main-background: radial-gradient(
		circle,
		#020024,
		#090979,
		#073e9c,
		#0486cb,
		#00d4ff
	);
	/* END ------------------------------------- */
	--background-text-container-light: #9bdfff7e;
	--background-text-container-dark: #7dd6ff7e;
	--background-main-header-navigation: #073e9c;
	--background-showcase: #073e9c;
	--background-main-footer: #073e9c;

	/* text color */
	--color-default-dark: #000000;
	--color-default-light: #dfdfdf;

	/* links */
	--color-a: #dfdfdf;
	--color-a-visited: #f49dff;

	/* accessibility */
	--background-a-focus: #777777b9;
}

:root {
	margin: 0 10%;
	background: var(--main-background);
}

h1 {
	font-size: 2em;
	margin: 0.6em 2% 0 2%;
	align-self: center;
}

h2 {
	font-size: 1.6em;
	margin: 0.6em 2% 0 2%;
	align-self: center;
}

h3 {
	font-size: 1.3em;
	margin: 0.6em 2% 0 2%;
	align-self: center;
}

p {
	font-size: 1.2em;
}

li {
	font-size: 1.1em;
	list-style: square;
	text-align: left;
	margin: 1em 6%;
}

img {
	max-width: 100%;
}

a {
	color: var(--color-a);
	text-decoration: underline;
}

a:link {
	color: var(--color-a);
	text-decoration: underline;
}

a:visited {
	color: var(--color-a-visited);
}

a:hover {
	text-decoration: overline;
}

a:active {
	outline-style: inset;
}
a:focus {
	background: var(--background-a-focus);
	outline-style: inset;
}

/* Styling of containers */
.text-container-dark {
	background: var(--background-text-container-dark);
	display: flex;
	flex-direction: column;
	align-items: left;
}

.text-container-light {
	background: var(--background-text-container-light);
	display: flex;
	flex-direction: column;
	align-items: left;
}

/* Layouts */
/* Flexbox layouts */
/* Navigation header */
header nav {
	grid-area: nav-bar;
	margin: 0;
	background: var(--background-main-header-navigation);
}

header nav ul {
	display: flex;
	justify-content: flex-end;
	height: 6em;
}

header nav ul li {
	list-style: none;
	margin: 1%;
	padding: 2em 0;
}

/* Footer --------------------*/
footer {
	background: var(--background-main-footer);
	grid-area: main-footer;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "cv-img footer-text footer-text";
	align-items: center;
}

footer ul li {
	list-style: none;
}

footer figure {
	grid-area: cv-img;
}

footer figure img {
	width: 10em;
	height: 10em;
	object-fit: cover;
	border-radius: 50%;
	margin: 2em 10% 2em 2%;
}

.footer-text {
	grid-area: footer-text;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "footer-links contact-info";
}

.footer-text h3 {
	color: var(--color-default-light);
}

.footer-links {
	grid-area: footer-links;
}

.contact-list {
	grid-area: contact-info;
}

.contact-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	width: 100%;
}

.contact-info .info-content {
	display: flex;
	flex-direction: column;
}

.contact-info ul li {
	color: var(--color-default-light);
	white-space: nowrap;
	margin: 0.6em 1%;
}

/* /home route //Page style ------------ */
.home-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 16%;
}

.home-page-container h1 {
	font-size: 4em;
	margin: 0.4em 0 0 0;
}

.home-page-container p {
	text-align: left;
	margin: 2em 8%;
}

.showcase-container {
	margin: 2em 0;
	background: var(--background-showcase);
}

.showcase-container ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.showcase-container ul li {
	list-style: none;
}

/* projects route page style */
.projects-container {
	display: flex;
	flex-wrap: wrap-reverse;
}

.projects-container img {
	width: 10em;
}

/* Grid layout */
/* contacts-container of the /projects route */
.contact-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "projects-aside-container map-container map-container map-container";
}

.contact-aside-container {
	grid-area: projects-aside-container;
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.contact-container .contact-aside-container ul li {
	list-style: none;
}

.contact-container .contact-aside-container ul li:last-child {
	white-space: normal;
}

.map-container {
	grid-area: map-container;
}

/* /about route page style */
.cv-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto auto;
	grid-template-areas:
		"skills-experience-container skills-experience-container skills-experience-container skills-experience-container"
		"education-other-container education-other-container education-other-container education-other-container";
}

.skills-experience-container {
	grid-area: skills-experience-container;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "skills-container skills-container experience-container experience-container";
}

.skills-container {
	grid-area: skills-container;
}

.experience-container {
	grid-area: experience-container;
}

.education-other-container {
	grid-area: education-other-container;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "education-container education-container other-container other-container";
}

.education-container {
	grid-area: education-container;
}

.other-container {
	grid-area: other-container;
}
