/* Global styles ------------------------------------*/
* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: var(--color-default-dark);

	/* Website color pallet */
	--background-alternative-main: #073e9c77;
	/* START -------------------------------------
	CSS Gradient 
	https://cssgradient.io/
	 */
	--main-background: radial-gradient(
		circle,
		#020024,
		#090979,
		#073e9c,
		#0486cb,
		#00d4ff
	);
	/* END ------------------------------------- */
	--background-text-container-light: #9bdfff7e;
	--background-text-container-dark: #7dd6ff7e;
	--background-gallery: #a5a5a5;
	--background-main-header-navigation: #073e9c;
	--background-showcase: #073e9c;
	--background-main-footer: #073e9c;

	/* text color */
	--color-default-dark: #000000;
	--color-default-light: #dfdfdf;

	/* links */
	--color-a: #dfdfdf;
	--color-a-visited: #f49dff;

	/* accessibility */
	--background-a-focus: #777777b9;
}

:root {
	margin: 0 10%;
	background: var(--main-background);
}

h1 {
	font-size: 2em;
	margin: 0.6em 2% 0 2%;
	align-self: center;
}

h2 {
	font-size: 1.6em;
	margin: 0.6em 2% 0 2%;
	align-self: center;
}

h3 {
	font-size: 1.3em;
	margin: 0.6em 2% 0 2%;
	align-self: center;
}

p {
	font-size: 1.2em;
}

li {
	font-size: 1.1em;
	list-style: square;
	text-align: left;
	margin: 1em 6%;
}

img {
	max-width: 100%;
}

a {
	color: var(--color-a);
	text-decoration: underline;
}

a:link {
	color: var(--color-a);
	text-decoration: underline;
}

a:visited {
	color: var(--color-a-visited);
}

a:hover {
	text-decoration: overline;
}

a:active {
	outline-style: inset;
}
a:focus {
	background: var(--background-a-focus);
	outline-style: inset;
}

/* Styling of containers */
.text-container-dark {
	background: var(--background-text-container-dark);
	display: flex;
	flex-direction: column;
	align-items: left;
}

.text-container-light {
	background: var(--background-text-container-light);
	display: flex;
	flex-direction: column;
	align-items: left;
}

/* Layouts */

/* Navigation header */
header {
	padding: 1em 0;
	background: var(--background-main-header-navigation);
}

header nav ul {
	display: flex;
	justify-content: flex-end;
}

header nav ul li {
	list-style: none;
	margin: 1%;
	padding: 2em 0;
}

.light-color {
	color: var(--color-default-light);
}

/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "cv-img footer-text footer-text"; */

/* Footer --------------------*/
footer {
	background: var(--background-main-footer);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	column-gap: 1em;
	padding: 1em 0 0 0;
	width: 100%;
}

footer article h3 {
	color: var(--color-default-light);
	white-space: nowrap;
	text-align: left;
}

footer figure {
	padding: 0 2%;
}

footer figure img {
	width: 10em;
	height: 10em;
	object-fit: cover;
	border-radius: 50%;
	margin: 2em 1%;
}

footer article {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20em;
}

footer article ul {
	white-space: nowrap;
	margin: 0.6em 0;
}

footer article ul li {
	color: var(--color-default-light);
	list-style: none;
	text-align: left;
}

/* /home route //Page style ------------ */
.home-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 16%;
}

.home-page-container h1 {
	font-size: 4em;
	margin: 0.4em 0 0 0;
}

.home-page-container p {
	text-align: left;
	margin: 2em 8%;
}

/* projects route page style */
/* START ----------------------------- 
		(w3school)
		https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery
*/

.choose-container {
	margin: 2em 0;
	background: var(--background-showcase);
}

.choose-container ul {
	display: flex;
	justify-content: space-evenly;
}

.choose-container ul li {
	list-style: none;
}

.artworks-container article {
	background: var(--background-gallery);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 10em 0;
}

.artworks-container article figure {
	max-width: 50%;
	padding: 1em 2em;
}

.artworks-container img {
	max-height: 20em;
}

.codeprojects-container article {
	background: var(--background-gallery);
	display: flex;
	justify-content: flex-start;
	padding: 2em;
}

.detail-container article {
	margin: 1em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto;
	grid-template-areas:
		"single-title single-title"
		"single-img single-list";
}
.detail-container h1 {
	grid-area: single-title;
	text-align: left;
	margin: 1em;
}

.detail-container ul {
	grid-area: single-list;
	flex-direction: column;
}

.detail-container li:last-child {
	list-style: none;
}

.detail-container img {
	grid-area: single-img;
	height: 30em;
}

/* END ----------------------------------- */

/* Grid layout */
/* contacts-container of the /projects route */
.contact-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "projects-aside-container map-container map-container map-container";
}

.contact-aside-container {
	grid-area: projects-aside-container;
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.contact-container .contact-aside-container ul li {
	list-style: none;
}

.contact-container .contact-aside-container ul li:last-child {
	white-space: normal;
}

.map-container {
	grid-area: map-container;
}

/* /about route page style */
.cv-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto auto;
	grid-template-areas:
		"skills-experience-container skills-experience-container skills-experience-container skills-experience-container"
		"education-other-container education-other-container education-other-container education-other-container";
}

.skills-experience-container {
	grid-area: skills-experience-container;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "skills-container skills-container experience-container experience-container";
}

.skills-container {
	grid-area: skills-container;
}

.experience-container {
	grid-area: experience-container;
}

.education-other-container {
	grid-area: education-other-container;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "education-container education-container other-container other-container";
}

.education-container {
	grid-area: education-container;
}

.other-container {
	grid-area: other-container;
}

/* Login style */
.login-form form {
	background: var(--background-main-header-navigation);
	margin: 4em 0;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	width: 40%;
	height: 22em;
	padding: 2em;
}

.login-form legend {
	color: var(--color-default-light);
	margin: 0 0 1em 0;
	font-size: 1.6em;
	font-weight: bold;
}

.login-form input[type="text"] {
	width: 50%;
	margin: 1em;
	padding: 0.8em;
}

.login-form input[type="password"] {
	width: 50%;
	margin: 1em;
	padding: 0.8em;
}

.login-form button[type="submit"] {
	background: #f49dff;
	width: 50%;
	margin: 1em;
	padding: 0.8em;
}

.login-form button[type="submit"]:hover {
	background: #9bdfff7e;
	cursor: pointer;
}

/* -- Responisve Layout ------------------- */
/* @media screen and (max-width: 940px) {
	.home-page-container h1 {
		font-size: 3em;
		margin: 0.4em 0 0 0;
	}
} */

@media screen and (max-width: 1700px) {
	.home-page-container {
		margin: 0;
	}
}

@media screen and (max-width: 900px) {
	/* -- header nav ----------------- */
	header nav ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1em;
	}

	header nav ul li {
		list-style: none;
		margin: 4%;
		padding: 0.2em 0;
		align-self: center;
		text-align: center;
	}

	/* -- Footer ---------------------- */
	footer {
		background: var(--background-main-footer);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: 1em 0 0 0;
		width: 100%;
	}

	footer article {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 20em;
	}

	footer article ul li {
		padding: 1em 0;
	}

	footer figure img {
		width: 10em;
		height: 10em;
		object-fit: cover;
		border-radius: 50%;
		margin: 2em 1%;
	}

	/* Choose artworks or code projects */
	.choose-container ul {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 710px) {
	.home-page-container h1 {
		font-size: 3em;
		margin: 0.4em 0 0 6%;
	}
}
